.p-mypage {}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main {
  width: 960px;
  padding: 32px 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(136, 136, 136, 0.2);
}

@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
