.p-mypage {}


.container {
  display: flex;
  justify-content: center;
}

.main {
  width: 960px;
  margin: 20px;
  padding: 32px 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(136, 136, 136, 0.2);
}

.tab {
  border-top: 1px solid #f0f0f0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
    display: inline-block;

    a {
      color: #555;
      font-size: 16px;
      text-decoration: none;
      display: block;
      padding: 16px 12px;
      word-wrap: break-word;

      &:hover {
        color: #333;
      }
    }
  }
  li.current {
    border-bottom: 2px solid #4fc08d;

    a {
      color: #4fc08d;
    }
  }
}


@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .main {
    width: 100%;
  }
}
