.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main {
  width: 960px;
  padding: 32px 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(136, 136, 136, 0.2);
}

.w__form {
  padding: 0 20px;
}

/*
|-------------------------
| Tag
|-------------------------
*/
.w-field_tag {
  label {
    font-size: 16px;
    color: #555;
    display: block;
    padding: 4px 0; 
  }

  .vue-tags-input[data-v-7f2a58de] {
    max-width: none;
  }
  /deep/ .input[data-v-7f2a58de] {
    padding: 8px 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;

    &:hover {
      border-color: #4fc08d;
    }
  }
}
/*
|----------------------------
| タイトル
|----------------------------
*/
.w-field_title {
  label {
    font-size: 16px;
    color: #555;
    display: block;
    padding: 4px 0;
  }

  .el-input {
    /deep/ .el-input__inner {
      height: 48px;
      font-size: 16px;
      color: #555;
      border: 1px solid #ddd;

      &:hover {
        border-color: #4fc08d;
      }
    }
  }
}
/*
|-------------------------
| ファイル
|-------------------------
*/
.w-field_media {
  .w-file {
    display: inline-block;
    border: 2px solid #ffbf7f;
    padding: 8px 12px;
    color: #555;
    font-size: 16px;
    border-radius: 4px;

    &:hover {
      background: #ffbf7f;
      color: #fff;
    }
  }

  input {
    display: none;
  }

  /deep/ .el-carousel {
    text-align: center;

    img {
      width: auto;
      height: 300px;
    }
  }

  /deep/ .el-carousel__container {
    height: 300px;
  }
}


/*
|---------------------------
| 本文
|---------------------------
*/
.w-field_body {
  label {
    font-size: 16px;
    color: #555;
    display: block;
    padding: 4px 0;
  }

  .el-textarea {
    /deep/ .el-textarea__inner {
      height: 25vh;
      font-size: 16px;
      resize: none;

      &:hover {
        border-color: #4fc08d;
      }
    }
  }
}
/*
|------------------------------
| サブミットボタン
|------------------------------
*/
.w-actionBtn {
  display: flex;
  justify-content: center;

  .el-input {
    width: 300px;

    /deep/ .el-input__inner {
      background: #42b983;
      color: #fff;
      font-size: 18px;
      height: 48px;
      border: 1px solid #ddd;
    }
  }
}


/*
|------------------------------
| util
|------------------------------
*/
.mtmb {
  margin: 26px 0;
}

@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
  }

  .w-field_body {
    .el-textarea {
      /deep/ .el-textarea__inner {
        height: 180px;
      }
    }
  }

  .w-actionBtn {
    display: block;

    .el-input {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 480px) {
  .w-field_media {
    /deep/ .el-carousel {
      img {
        width: 100%;
        height: 230px;
      }
    }

    /deep/ .el-carousel__container {
      height: 230px;
    }
  }
}
