.c-search-form {
  display: flex;
  justify-content: center;
  padding: 16px 20px 0;
  margin: 0 20px;

  form {
    display: block;
    width: 100%;

    input {
      width: 100%;
      height: 32px;
      outline: 0;
      font-size: 16px;
      color: #555;
      border: 1px solid #ddd;
      border-radius: 3px;
      box-shadow: 0 0 2px 0 rgba(136, 136, 136, 0.2);
      text-indent: 10px;

      &:hover {
        border-color: #072be3;
      }
    }
  }
}