.container {
  display: flex;
  justify-content: center;
}

.main {
  width: 648px;
  margin: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(136, 136, 136, 0.2);
}

.form {
  padding: 36px 24px;
}

.form__error {
  color: #dc143a;
}

.title {
  display: flex;
  justify-content: center;

  h3 {
    font-size: 24px;
    color: #777;
    letter-spacing: 1.25px;
  }
}

.mt20mb20 {
  margin: 32px 0;
}

.w__field {
  label {
    font-size: 16px;
    color: #555;
  }

  .input {

    input {
      width: 100%;
      height: 48px;
      color: #555;
      font-size: 16px;
      outline: 0;
      border: 1px solid #ddd;
      border-radius: 3px;
      text-indent: 10px;
    }
  }
}

.actionBtn {
  display: flex;
  justify-content: center;

  input {
    width: 300px;
    height: 48px;
    outline: 0;
    color: #555;
    font-size: 18px;
    text-shadow: 0 0 2px 0 rgba(136, 136, 136, 0.2);
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #ffbf7f;
    color: #fff;
  }
}



@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {    
  .container {
    padding: 0 20px;
  }

  .main {
    width: 100%;
  }


}
