.c-profileBox {
  display: flex;
  padding-bottom: 16px;

  .left-box {
    margin-right: 20px;
    
    img {
      width: 220px;
      height: 180px;
    }

    p {
      margin: 16px 0;
      text-align: center;
      color: #555;
      font-size: 18px;
    }
  }

  .right-box {
    h3 {
      font-size: 22px;
      margin: 0;
      color: #191970;
    }

    .w__intro {
      color: #555;
      font-size: 16px;
      height: 147px;
      overflow: hidden;
      margin: 12px 0;
    }
  }
  .actionBtn {
    button {
      outline:0;
      border: 1px solid #f0f0f0;
      border-radius: 3px;
      font-size: 18px;
      padding: 0 16px;
      background-color: #87cef4;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {
  .c-profileBox {
    display: block;

    .left-box {
      margin-right: 0;

      img {
        width: 100%;
        height: auto
      }
    }

    .right-box {
      .w__intro {
        height: auto;
        overflow: auto
      }
    }
  }

}