#header {
  padding: 12px 20px;
  background-color: #ffbf7f;
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
}

.main {
  display: flex;
}

.title {
  display: flex;
  margin-right: auto;

  a {
    font-size: 23px;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
  }
}

.nav {
  display: flex;
}

.nava {
  display: flex;

  .w-icon__group {
    span {
      margin: 0 16px;
      font-size: 26px;
      color: #fff;
      display: block;

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        margin-right: 20px;
      }
    }

    .btn-group {
      margin-right: 32px;
    }

    .icon-group {
      display: flex;
    }
  }
}

.navb {
  padding-top: 8px;

  a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;

    &:first-child {
      margin-right: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu {
  span {
    display: block;
    font-size: 26px;
    color: #fff;
  }
}

.tablet-only {
  display: none;
}

@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .tablet-only {
    display: block;
  }

  .search {
    .el-input {
      width: 80px;
    }
    /deep/ .el-input__inner {
      border-radius: 50px;
    }
  }
}