
.container {
  display: flex;
  justify-content: center;
}

.main {
  width: 960px;
  margin: 20px;
  padding: 32px 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(136, 136, 136, 0.2);
}
//上部の記事の新着等のボタン
.square_btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #FFA000;
  background: #fff1da;
  border-bottom: solid 4px #FFA000;
  border-radius: 15px 15px 0 0;
  transition: .4s;
}

.square_btn:hover {
  background: #ffc25c;
  color: #FFF;
}